<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  
  <title>Systems List 1.2</title>
</head>
<body>
  <div class="container">
    <div id="server-list">
      <h1>{{ serverName }}</h1>
      <select v-on:change="filterList">
        <option value=''>Select Application</option>
        <option v-for='item in uniqueItemList'> {{item}} </option>     
      </select>
       <ul>
        <li v-show="type === '' || type === server.type" 
        v-for="server in serverList" 
        v-on:click="toggleDetails(server)" v-bind:class="{less: server.showDetail, more: !server.showDetail}">
          <h3>{{server.serverName}}</h3> 
          <div v-show='server.showDetail'>
            <p>Role: {{server.description}}</p>
            <p v-if="server.sysAdmin" class="byline">Owner {{server.sysAdmin}}</p>
            <p>Application: {{server.type}}</p>
            <ul>
              <li v-for="vul in vulList">
                <p>test</p>
              </li>
            </ul>                 
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>